GOOGLE_CLIENT_ID=seu_client_id_do_google_cloud_aqui
GOOGLE_CLIENT_SECRET=seu_client_secret_do_google_cloud_aqui

# Configuração para envio do link Diário do Ngrok
EMAIL=seu_email@gmail.com
EMAIL_SENHA=sua_senha_de_app_do_google
